<!-- wp:template-part {"slug":"header","theme":"newspaper-builder","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|superbspacing-small","bottom":"var:preset|spacing|superbspacing-small","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"mono-4","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-mono-4-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--superbspacing-small);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:var(--wp--preset--spacing--superbspacing-small);padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|superbspacing-large","bottom":"var:preset|spacing|superbspacing-large","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"}}},"backgroundColor":"contrast-light","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-contrast-light-background-color has-background" style="padding-top:var(--wp--preset--spacing--superbspacing-large);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:var(--wp--preset--spacing--superbspacing-large);padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:heading {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"bottom":"0"}}},"fontSize":"superbfont-xxlarge"} -->
<h1 class="wp-block-heading has-text-align-center has-superbfont-xxlarge-font-size" style="margin-bottom:0">404 - Page Not Found</h1>
<!-- /wp:heading -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"5px"}}},"layout":{"type":"constrained","contentSize":"500px"}} -->
<div class="wp-block-group alignwide" style="margin-top:5px"><!-- wp:paragraph {"align":"center","style":{"spacing":{"margin":{"right":"0","left":"0","top":"var:preset|spacing|superbspacing-small","bottom":"var:preset|spacing|superbspacing-small"}}},"textColor":"mono-2","fontSize":"superbfont-medium"} -->
<p class="has-text-align-center has-mono-2-color has-text-color has-superbfont-medium-font-size" style="margin-top:var(--wp--preset--spacing--superbspacing-small);margin-right:0;margin-bottom:var(--wp--preset--spacing--superbspacing-small);margin-left:0">Unfortunately the page was not found. Try a search below or return to the <a href="/">homepage</a></p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search...","width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true,"align":"center","style":{"border":{"radius":"10px"}},"textColor":"contrast-dark","fontSize":"superbfont-xsmall"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"newspaper-builder","area":"footer"} /-->